.login{
    position: relative;
    background-color: #7e828747;
    min-height:100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    &_container{  
        padding-bottom: 32rem;
        margin: 1rem;
        &:last-of-type{
            margin-top: 1rem;
        }
    }
    &_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;
        
        .back_svg{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: grid;
            place-items: center;
            cursor: pointer;
            svg{
                fill: #99221e;        
            }
            
            svg{
                
                margin-left: -210px;
                margin-top: 15px;
                width: 20px;
                height: 20px;

                
            }
            span{
                margin-left: 100px;
                margin-top: -34px;
                font-weight: 600;
                font-size: 17px;
                padding-top: 1.8px;
                white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
                
                a{
                    
                    color: #99221e;
                    cursor: pointer;
                    padding-bottom:5px ;

                    &:hover{
                        color: #f5d547;
                    }
                }
            }
        }
    }
    &_form{
        margin-top: 0.1px;
        height: 150px;

    }
    p{
        color: #7e8287;
    }
    form{
        margin-top: 2rem;
    }
    .forgot{
        color: #7e8287;
        padding-top: 1rem;
        font-size: 14px;  
        height: 40px;
        padding-left: 35px;
        &:hover{
            color: #99221e;
            
        }
    }
    &_socials{
        margin-top: 0.1rem;
        .or{
            position: relative;
            color: #666;
            padding-left: 7.6rem;
            &:before,&:after{
                content:"";
                width: 130px;
                height: 1px;
                background: #666;
                position: absolute;
                top: 50%;
            }
            &:before{
                left: 212px;
            }
            &:after{
                left: -10px;
            }
        }
        &_wrap{
            margin-top: 1px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-left: 3rem;
            img{
                width: 36px;
                cursor: pointer;
            }
        }
    }
}
.social_btn{
    margin-left: -8%;
    outline: none;
    width: 290px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    gap: 5px;
    background: transparent;
    cursor: pointer;
    border: 1px solid #666;
    &:hover{
        border: 1px solid black;
    }
}
.error{
    color:#99221e;
    padding: 10px;
    padding-left: 5px;
}
.success{
    color:rgb(31, 153, 31);
    padding: 10px;
}